doctype html
html
  head
    title Get Account Data
  body
    a(href='../main') [back to main]
    h1 Get Account Data
    form(method='POST' action='')
      div
        label(for='account') Account:
        select(name='account')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
        input#accountAddress(type='text' name='accountAddress')
      button(type='submit') Submit
    
    h1 #{data.accountName} (#{data.accountAddress})
    if error
        p(style='color:red') #{error.name}: #{error.message}

    h2 Balances
    table(width=1000 border=1)
      tr
        th Currency
        th Amount
        th Counterparty
      each balance in data.balances
        tr
          td #{balance.currency}
          td #{balance.value}
          td #{balance.counterparty}

    h2 Trustlines
    table(width=1000 border=1)
      tr
        th Currency
        th Direction
        th Balance/Limit
        th Specification
      each trustline in data.trustlines
        each trustDetail, index in trustline.trustDetails
          tr
            if index == 0
              td(rowspan=trustline.trustDetails.length) #{trustline.currency}
            td #{trustDetail.direction}
            td #{trustDetail.balance} / #{trustDetail.limit}
            td 
              ul
                if trustDetail.authorized
                  li authorized
                if trustDetail.frozen
                  li frozen
                if trustDetail.ripplingDisabled
                  li rippling disabled
                if trustDetail.qualityIn
                  li quality in: #{trustDetail.qualityIn}
                if trustDetail.qualityOut
                  li quality out: #{trustDetail.qualityOut}

    h2 Transaction History
    p Last #{maxTransactions} transactions:
    table(width=1300 border=1)
      tr
        th Type
        th Description
        th Result
        th Cost
        th Timestamp
        th Sequence number
        th Ledger Version
        th Balance Changes
        th 
      each item in data.transactions
        tr
          td
            span(title=item.id) #{item.type}
          td
            ul
              each desc in item.descriptions
               li #{desc}
          td #{item.result}
          td #{item.fee} XRP
          td #{item.timestamp}
          td #{item.sequence}
          td #{item.ledgerVersion} (#{item.indexInLedger})
          td 
            ul
              each accountChanges in item.balanceChanges
                li #{accountChanges.accountName}
                ul
                  each change in accountChanges.changes
                    li #{change}
          td
            - var url = '../q/transaction/' + item.id
            a(href=url) details
    
    h2 Orders
    table(width=1000 border=1)
      tr
        th Direction
        th Quantity
        th Total Price
        th Maker Account
        th Exchange Rate
      each order in data.orders
        tr
          td #{order.specification.direction}
          td #{order.specification.quantity}
          td #{order.specification.totalPrice}
          td #{order.properties.maker}
          td #{order.properties.makerExchangeRate}