doctype html
html
  head
    title="Change Trustline"
  body
    a(href='../main') [back to main]
    h1 Change Trustline
    form(method='POST' action='')
      div
        label(for='account') Account:
        select(name='account')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      div
        label(for='counterpartyAccount') Counterparty Account:
        select(name='counterpartyAccount')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      div
        label(for='currency') Currency:
        input#currency(type='text' name='currency')
      div
        label(for='limit') Limit Amount:
        input#limit(type='text' name='limit')
      div
        label(for='qualityIn') Quality In:
        input#qualityIn(type='text' name='qualityIn' value='1.0')
      div
        label(for='qualityOut') Quality Out:
        input#qualityOut(type='text' name='qualityOut' value='1.0')
      div
        label(for='ripplingDisabled') Rippling Disabled:
        input#ripplingDisabled(type='checkbox' name='ripplingDisabled')
      div
        label(for='frozen') Frozen:
        input#frozen(type='checkbox' name='frozen')
      button(type='submit') Submit