doctype html
html
  head
    title="Get Order Book"
  body
    a(href='../main') [back to main]
    h1 Get Order Book
    form(method='POST' action='')
      div
        label(for='accountMenu') Account:
        select#accountMenu(name='accountIndex')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      div
        label(for='baseCurrency') Base currency:
        input#baseCurrency(type='text' name='baseCurrency')
      div
        label(for='baseCounterpartyMenu') Base issuer:
        select#baseCounterpartyMenu(name='baseCounterpartyIndex')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      div
        label(for='counterCurrency') Counter currency:
        input#counterCurrency(type='text' name='counterCurrency')
      div
        label(for='counterCounterpartyMenu') Counter issuer:
        select#counterCounterpartyMenu(name='counterCounterpartyIndex')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      button(type='submit') Submit