doctype html
html
  head
    title="Get Paths Result"
  body
    h1 Get Paths Result

    table(border=1)
      tr
        th Source
        th Destination
        th Paths
        th Paths String
      each pair in result.srcDstPairs
        each pathObject, index in pair.pathsObject
          tr
            if index == 0
              td(rowspan=pair.pathsObject.length)
                | #{pair.source.account}
                br
                | #{pair.source.maxAmount.value} #{pair.source.maxAmount.currency}
              td(rowspan=pair.pathsObject.length)
                | #{pair.destination.account}
                br
                if pair.destination.amount.counterparty
                  | #{pair.destination.amount.value} #{pair.destination.amount.currency}.#{pair.destination.amount.counterparty}
                else
                  | #{pair.destination.amount.value} #{pair.destination.amount.currency}
            td
              ul
                each step in pathObject
                  li #{step.account}
            if index == 0
              td(rowspan=pair.pathsObject.length)
                textarea(rows=4 cols=50 style='resize:none') #{pair.paths}

    p Raw JSON result:
    pre #{result.rawJSON}
    
    br
    a(href='../main') [back to main]