doctype html
html
  head
    title="Make Payment"
  body
    a(href='../main') [back to main]
    h1 Make Payment
    form(method='POST' action='')
      h2 From
      div
        label(for='sourceAccount') Account:
        select(name='sourceAccount')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      div
        label(for='sourceCurrency') Currency:
        input#sourceCurrency(type='text' name='sourceCurrency')
      div
        label(for='sourceMaxAmount') Max Amount:
        input#sourceMaxAmount(type='text' name='sourceMaxAmount')
      div
        label(for='sourceCounterparty') Counterparty:
        select(name='sourceCounterparty')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      H2 To
      div
        label(for='destinationAccount') Account:
        select(name='destinationAccount')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      div
        label(for='destinationCurrency') Currency:
        input#destinationCurrency(type='text' name='destinationCurrency')
      div
        label(for='destinationAmount') Amount:
        input#destinationAmount(type='text' name='destinationAmount')
      div
        label(for='destinationCounterparty') Counterparty:
        select(name='destinationCounterparty')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      button(type='submit') Submit