doctype html
html
  head
    title="Transaction Result"
  body
    h1 Transaction Result
    p Transaction ID: #{transactionID}

    h2 Preliminary Result
    p Result code: #{preliminaryResultCode}
    p Result message: #{preliminaryResultMessage}

    h2 Final Result
    pre #{finalResult}
    br
    a(href='../main') [back to main]